.generalPage {
    background-color: white;
}

.contAbout {
    background-color: white;
    display: flex;
    flex-direction: column;
}

/**********************************PRIMER CONTENEDOR (IMAGEN PRINCIPAL)**********************************/
.contUno {
    background-color: white;
    padding: 40px;
    margin-bottom: -80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.imgH {
    z-index: 1;
    width: 85%;
    height: 0%;
}

.titleAbl {
    font-size: 650%;
    font-weight: 600;
    transform: translate(10%, -300%);
    color: #ff764d;
    z-index: 2;
}

/**********************************SEGUNDO CONTENEDOR(TEXTO)**********************************/
.contDos {
    background-color: white;
    margin: 0% 26%;
    text-align: justify;
}

.contDos h1 {
    font-size: 24px;
    font-weight: 550;
}

.contDos a {
    text-decoration: none;
    color: #0000ff;
}

.contDos p {
    padding-top: 20px;
    font-size: 15.2px;
    font-weight: 450;
}

/**********************************TERCER CONTENEDOR(IMÁGENES CUADRO AMARILLO)**********************************/

.contTres {
    background-color: white;
    padding: 100px;
    position: relative;
    margin-top: 80px;
}

.contWhite {
    background-color: white;
    padding: 30%;
    z-index: 0;
    width: 60%;
    height: 100%;
}

.img1 {
    left: 8%;
    top: 10%;
    width: 42%;
    height: 60%;
    position: absolute;
    z-index: 1;
    object-fit: cover;
}

.contYellow {
    background-color: #fbffa7;
    padding: 30%;
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 1;
}

.img2 {
    position: absolute;
    width: 55%;
    height: 40%;
    z-index: 1;
    object-fit: cover;
    left: 30%;
    bottom: 30%;
}

/**********************************CUARTO CONTENEDOR(TEXTO)**********************************/

.contCtro {
    background-color: white;
    margin: 3% 26%;
    text-align: justify;
}

.contCtro h1 {
    font-size: 24px;
    font-weight: 550;
}

.contCtro p {
    padding-top: 20px;
    font-size: 15.2px;
    font-weight: 450;
}

/**********************************QUINTO CONTENEDOR (VIDEO)**********************************/

.contCnco {
    margin: 5% 26% 15% 26%;
    width: 50%;
    height: 100%;
}

.ffthVideo {
    height: 200%;
    width: 95%;
}

.contCnco p {
    font-size: 12px;
    font-weight: 600;
}

/**********************************SEXTO CONTENEDOR (TEXTO)**********************************/

.contSeis {
    background-color: white;
    margin: 10% 26%;
    text-align: justify;
}

.contSeis h1 {
    font-size: 24px;
    font-weight: 550;
}

.contSeis p {
    padding-top: 20px;
    font-size: 15.2px;
    font-weight: 450;
}

/**********************************SÉPTIMO CONTENEDOR (CUADRO VERDE)**********************************/

.contSte {
    background-color: white;
    padding: 200px;
    position: relative;
    margin-bottom: 10%;
}

.contGreen {
    background-color: #b6ffc0;
    padding: 35% 30%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
}

.img3 {
    position: absolute;
    width: 55%;
    height: 35%;
    z-index: 1;
    object-fit: cover;
    left: 13%;
    bottom: 55%;
}

.img4 {
    position: absolute;
    width: 55%;
    height: 35%;
    z-index: 1;
    object-fit: cover;
    left: 13%;
    bottom: 8%;
}


.contWhite2 {
    background-color: white;
    padding: 30%;
    z-index: 0;
    width: 60%;
    height: 100%;
}

.img5 {
    right: 9%;
    top: 15%;
    width: 42%;
    height: 45%;
    position: absolute;
    z-index: 2;
    object-fit: cover;
}

/**********************************OCTAVO CONTENEDOR (TEXTO)**********************************/
.contOcho {
    background-color: white;
    margin: 0% 26%;
    text-align: justify;
}

.contOcho h1 {
    font-size: 24px;
    font-weight: 550;
}

.contOcho p {
    padding-top: 20px;
    font-size: 15.2px;
    font-weight: 450;
}

/**********************************NOVENO CONTENEDOR (IMAGEN)**********************************/
.contNve {
    margin: 10%;
}

.prod {
    height: 100%;
    width: 100%;
}

/**********************************DÉCIMO CONTENEDOR (TEXTO)**********************************/
.contDiez {
    background-color: white;
    margin: 0% 26%;
    text-align: justify;
}

.contDiez h1 {
    font-size: 24px;
    font-weight: 550;
}

.contDiez p {
    padding-top: 20px;
    font-size: 15.2px;
    font-weight: 450;
}


/**********************************DÉCIMOPRIMER CONTENEDOR (CUADRO MORADO)**********************************/

.contOnce {
    padding: 35% 45% 35% 45%;
    position: relative;
    background-color: white;
    margin: 0% 0%;
}

.contPrple {
    background-color: #d5b3ff;
    width: 67%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img6 {
    position: absolute;
    width: 34%;
    height: 28%;
    z-index: 1;
    object-fit: cover;
    left: 8%;
    bottom: 37%;
}

.img7 {
    position: absolute;
    width: 42%;
    height: 55%;
    z-index: 1;
    object-fit: cover;
    left: 58%;
    bottom: 22%;
}

/**********************************DÉCIMO SEGUNDO CONTENEDOR (TEXTO)**********************************/

.contDoce {
    background-color: white;
    margin: 0% 26%;
    text-align: justify;
}

.contDoce h1 {
    font-size: 24px;
    font-weight: 550;
}

.contDoce p {
    padding-top: 20px;
    font-size: 15.2px;
    font-weight: 450;
}


/**********************************DÉCIMO TERCER CONTENEDOR (CUADRO AZUL)**********************************/


.contTrece {
    padding: 25% 45% 35% 45%;
    position: relative;
    background-color: white;
    margin: 0% 0%;
}

.contBlue {
    background-color: #b1c5ff;
    width: 44%;
    height: 70%;
    position: absolute;
    top: 10%;
    left: 47.6%;
}

.img8 {
    position: absolute;
    width: 42%;
    height: 70%;
    z-index: 1;
    object-fit: cover;
    left: 8%;
    top: 10%;
}

.contPTrece {
    width: 60%;
    height: 55%;
    text-align: justify;
    box-sizing: border-box;
    margin: 30% 25%;
}

.contBlue a {
    text-decoration: none;
    color: #0000ff;
    font-weight: 500;
    font-size: 1.6vw;
}

.contBlue h1 {
    font-size: 1.8vw;
    font-weight: 550;
    line-height: 1.5;
}


/************************************************************* RESPONSIVIDAD *************************************************************/


@media (max-width: 1280px) {

    /*PRIMER CONTENEDOR*/
    .titleAbl {
        font-size: 450%;
    }

    /*DÉCIMO TERCER CONTENEDOR (CUADRO AZUL)*/
    .img8 {
        position: absolute;
        width: 81.6%;
        height: 40%;
        z-index: 1;
        object-fit: cover;
        left: 9%;
        top: 10%;
    }

    .contBlue {
        width: 81.6%;
        height: 40%;
        top: 45%;
        left: 9%;
    }

    .contPTrece {
        margin: 10% 22%;
    }


}

@media (max-width: 1000px) {

    .titleAbl {
        font-size: 250%;
        transform: translate(10%, -190%);
    }


    /*DÉCIMO TERCER CONTENEDOR*/

    .contPTrece {
        margin: 6% 25%;
    }

    .contBlue a {
        font-size: 2vw;
    }

    .contBlue h1 {
        font-size: 2.5vw;
        line-height: 1.1;
    }


}