.blueL{
    text-decoration: none;
    color: #0000ff;
    font-weight: 500;
    font-size: 17px;
    margin-right: 0px;
}

.logReg{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 480;
    margin-right: 10px;
}

